@import 'config.css';

/**
 * Custom Media Query
 * https://drafts.csswg.org/mediaqueries-5/#custom-media-query
 * wont work if placed in config.css
 */
@custom-media --device-mouse (color), (hover);
@custom-media --window-mobile (width <= 800px);
@custom-media --window-narrow (width > 800px);

/**
 * app
 */
#app {
  font: normal 400 var(--font-size) var(--font-family);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: var(--color-black);

  &[data-aside-open] {
    & #map__close {
      background: rgba(0, 0, 0, 0.1);

      &:after {
        display: block;
      }
    }
    @media (--window-mobile) {
      & #map {
        transform: translateX(calc(100vw - var(--padding-mobile-overlap)));
      }
    }
  }

  @media (--window-narrow) {
    display: flex;
  }
}

/**
 * aside
 */
#aside {
  position: absolute;
  padding: var(--padding-default) 0;
  height: 100%;
  width: calc(100vw - var(--padding-mobile-overlap));
  overflow: scroll;
  max-width: var(--aside-max-width);

  @media (--window-narrow) {
    position: relative;
  }

  & #aside__header {
    position: relative;

    & nav {
      display: flex;
      padding: 0 var(--padding-default);
      overflow: scroll;
      gap: 5px;
    }

    & a {
      font: var(--font-regular);
      display: inline-block;
      border: solid 0.15em var(--color-black);
      padding: 0.6em 1.2em;
      border-radius: 3em;
      color: inherit;
      text-decoration: none;

      &:hover {
        background: var(--color-grey-95);
      }

      &:active,
      &[data-selected] {
        background: var(--color-black);
        color: var(--color-white);
      }
    }

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      height: 100%;
      width: var(--padding-default);
      background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    }

    &:after {
      right: 0;
      transform: rotate(180deg);
    }
  }

  & #aside__content {
    padding: var(--padding-default);
    height: 1000px;

    & h1 {
      font: var(--font-h1);
    }

    & p {
      font: var(--font-regular);
    }
  }
}

/**
 * map
 */
#map {
  width: 100vw;
  height: 100vh;
  transition: transform 0.3s ease-out;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);

  & #map__tiles {
    width: 100%;
    height: 100%;
    z-index: 50;
  }

  & #map__controls {
    position: absolute;
    padding: var(--padding-default);
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    pointer-events: none;

    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-content: space-between;

    & > * {
      pointer-events: auto;
    }
  }

  & #map__close {
    padding-top: var(--padding-default);
    position: absolute;
    z-index: 100;
    top: 0;
    height: 100%;
    float: right;
    width: var(--padding-mobile-overlap);
    background: rgba(0, 0, 0, 0);
    transition: background 0.3s ease-out;

    &:after {
      content: '';
      display: none;
      background: rgba(0, 0, 0, 0.1);
      width: 5px;
      height: 15vh;
      position: absolute;
      left: calc(var(--padding-mobile-overlap) / 2);
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 5px;
    }
  }

  & #map__close__btn {
    transform: translateX(-100%);
    background: var(--color-black);
    color: var(--color-white);
    border: none;
    padding: 0.6em;
    border: solid 0.15em var(--color-black);
    font: var(--font-regular);
    border-radius: 4px 0 0 4px;
  }
}
