@import 'config.css';

/**
 * Custom Media Query
 * https://drafts.csswg.org/mediaqueries-5/#custom-media-query
 * wont work if placed in config.css
 */
@custom-media --device-mouse (color), (hover);
@custom-media --window-mobile (width <= 800px);
@custom-media --window-narrow (width > 800px);

/**
 * app
 */
#app {
  display: flex;
  flex-wrap: nowrap;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /* z-index: -100; */

  font: normal 400 var(--font-size) var(--font-family);
  color: var(--color-black);

  &[data-aside-closed] {
    & #aside {
      width: 0;
    }

    & #map__close:after {
      background: rgba(0, 0, 0, 0);
    }
  }
}

/**
 * aside
 */
#aside {
  flex: 0 0 auto;
  width: calc(100vw - var(--padding-mobile-overlap));
  transition: width 0.3s ease-out;
  padding: var(--padding-default) 0;

  & #aside__header,
  & #aside__content {
    width: calc(100vw - var(--padding-mobile-overlap));
    max-width: var(--aside-max-width);
  }

  @media (--window-narrow) {
    width: var(--aside-max-width);

    & #aside__header,
    & #aside__content {
      width: var(--aside-max-width);
    }
  }

  & #aside__header {
    position: relative;

    & nav {
      display: flex;
      padding: 0 var(--padding-default);
      overflow: scroll;
      gap: 5px;
      padding-right: 100px;
    }

    & a {
      font: var(--font-regular);
      display: inline-block;
      border: solid 0.15em var(--color-black);
      padding: 0.6em 1.2em;
      border-radius: 3em;
      color: inherit;
      text-decoration: none;

      &:hover {
        background: var(--color-grey-95);
      }

      &:active,
      &[data-selected] {
        background: var(--color-black);
        color: var(--color-white);
      }
    }

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      height: 100%;
      width: var(--padding-default);
      background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    }

    &:after {
      right: 0;
      transform: rotate(180deg);
    }
  }

  & #aside__content {
    padding: var(--padding-default);

    & h1 {
      font: var(--font-h1);
    }

    & p {
      font: var(--font-regular);
    }
  }
}

/**
 * map
 */
#map {
  position: relative;
  flex: 1 1 auto;
  box-shadow: var(--layer-shadow);

  & .button-onmap {
    background: white;
    border: none;
    border-radius: 2px;
    font: var(--font-regular);
    padding: calc(0.6em + 2px);
    box-shadow: var(--layer-shadow);
  }

  & #map__contents {
    position: relative;
    height: 100%;
    width: 100vw;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;

    @media (--window-narrow) {
      width: 100%;
    }

    & #map__contents__tiles {
      /* full grid */
      grid-area: 1 / 1 / 4 / 4;
      z-index: 50;
    }

    & #map__contents__search,
    & #map__contents__period,
    & #map__contents__tools,
    & #map__contents__details {
      z-index: 100;
      padding: var(--space-l);
    }

    & #map__contents__search {
      /* top-left */
      grid-area: 1 / 1 / 2 / 2;
    }

    & #map__contents__period {
      /* bottom-left */
      grid-area: 3 / 1 / 4 / 2;
    }

    & #map__contents__tools {
      /* bottom-right */
      grid-area: 3 / 3 / 4 / 4;
    }

    & #map__contents__details {
      display: none;
      /* left */
      grid-area: 1 / 1 / 4 / 2;
    }
  }

  & #map__close {
    padding-top: var(--padding-default);
    position: absolute;
    z-index: 100;
    top: 0;
    height: 100%;
    float: right;
    width: var(--padding-mobile-overlap);
    transition: background 0.3s ease-out;

    &:after {
      content: '';
      background: rgba(0, 0, 0, 0.1);
      width: 4px;
      height: 15vh;
      position: absolute;
      left: calc(var(--padding-mobile-overlap) / 2);
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 5px;
    }

    & #map__close__btn {
      transform: translateX(-100%);
      background: var(--color-white);
      color: var(--color-black);
      border: none;
      padding: 0.6em;
      border: solid 0.15em var(--color-white);
      font: var(--font-regular);
      border-radius: 4px 0 0 4px;
      box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    }
  }
}
